{% extends 'base.html.twig' %}

 
{% block body %}

<table id="developers-table" class="table table-striped table-hover text-center" >
            
    <thead>
    <tr>
        <th>Id</th>
        <th>Lastname</th>
        <th>Firstname</th>
        <th>Badge label</th>
        <th>Badge level</th>
    </tr>  
    </thead>
    <tbody>
    {% for developer_report in developers_reports %}
        <tr data-item-id="{{ developer_report.id }}">
            <td>{{ developer_report.id }} </td>
            <td>{{ developer_report.LASTNAME }}</td>
            <td>{{ developer_report.FIRSTNAME }}</td>
            <td>{{ developer_report.BADGELABEL }}</td>
            <td>{{ developer_report.LEVEL }}</td>
           
        </tr>
       
    {% endfor %}
        
    </tbody>
    
</table>

{% endblock %}
